# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  main_job:

    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_ID }}

    steps:
    - uses: actions/checkout@v4
      with: 
        fetch-depth: 0
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Run tests
      run: |
        python3 -m unittest discover -s . -p "test.py" -v
      env: 
        CI: true 

    - name: Setup Terraform
      env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_ID }}
      uses: hashicorp/setup-terraform@v2
      with:
           terraform_version: 1.0.1
           terraform_wrapper: false 
      
    - name: Terraform Format
      id: fmt
      run: terraform fmt -check
      working-directory: terraform
      continue-on-error: true 

    - name: Terraform Init
      env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_ID }}
      id: init
      run: terraform init
      working-directory: terraform

    - name: Terraform Plan
      env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_ID }}
      id: plan
      run: terraform plan -no-color -input=false -refresh=true
      working-directory: terraform

    - name: Terraform Apply
      env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_ID }}
      run: terraform apply -input=false -auto-approve
      working-directory: terraform

    - name: Get EC2 IP
      id: get_ip
      working-directory: terraform
      run: |
        echo "NEW_EC2_HOST=$(terraform output -raw instance_public_ip)" >> $GITHUB_ENV
        
    - name: Copy app files to EC2
      uses: appleboy/scp-action@v0.1.4
      with:
        host: ${{ env.NEW_EC2_HOST }}  # Беремо динамічний IP
        username: "ec2-user"             # Для AWS EC2 (ami ubuntu) юзер зазвичай 'ubuntu', а не user
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "."
        target: "/home/ec2-user/app"

    - name: Install dependencies and restart Flask on EC2
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ env.NEW_EC2_HOST }}
        username: "ec2-user"
        key: ${{ secrets.EC2_SSH_KEY }}
        command_timeout: 30m
        script: |
          sudo dnf update -y
          sudo dnf install -y python3 python3-pip
          
          mkdir -p /home/ec2-user/app
          cd /home/ec2-user/app
          
          python3 -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt
          
          pkill -f "laba6_web.py" || true
          
          nohup ./venv/bin/python3 laba6_web.py > /dev/null 2>&1 &
          sleep 5
          exit 0
